---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Card from '../components/Card.astro';
---

<Layout title="Austin Wheeler">
	<main class="container">
    <div class="blur"></div>
		<About />
		<Projects />
	</main>
</Layout>

<style>
  .container {
    display: flex;
		flex-direction: column;
		max-width: 1056px;
		margin: 0 auto;
		padding: 5rem 30px 20px;
    align-items: center;
  }

  .heading {
    text-align: center;
    margin: 96px 0 48px;
  }

  .blur {
    transform-origin: center center;
    background-image: linear-gradient(to right top, rgb(147, 152, 234), rgb(117, 121, 192));
    width: 50%;
    height: 30%;
    z-index: -1;
    filter: blur(100px);
    opacity: 0.59;
    position: absolute;
    top: 0%;
    left: 50%; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
</style>
