---
import Logo from './Logo.astro';
import Github from '../icons/Github.astro'
import Twitter from '../icons/Twitter.astro'
import Mail from '../icons/Mail.astro'
---

<div class="about">
  <div class="logo">
    <!-- <Logo /> -->
    <img
    style="border-radius: 100%; box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.49);"
    src="/avatar.jpg"
    alt="Avatar"
    slot="header"
    />
  </div>
  <div class="info">
    <h1 class="title">
        Austin
      </a>
    </h1>
    <p class="description">
      I'm a developer who is passionate about learning and creating tools to streamline and automate processes
    </p>
    <div class="socials">
      <div class="social">
        <a
        class="social"
        href="https://github.com/awheelr"
        target="_blank"
        >
        <Github />
      </div>
      <div class="social">
        <a
        class="social"
        href="https://x.com/austinwheelr"
        target="_blank"
        >
        <Twitter />
      </div>
      <div class="social">
        <a
        class="social"
        href="mailto:contact@austinwheeler.net"
        target="_blank"
        >
        <Mail />
      </div>
    </div>
  </div>
</div>

<style>
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    margin: 48px auto;
    max-width: 320px;
  }

  .logo {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
  }

  .title {
    margin: 0;
    font-size: 32px;
    text-align: center;
  }

  .description {
    margin: 0;
    text-align: center;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .social {
    display: flex;
    flex-direction: column-reverse;
  }

  .social h2 {
    font-family: var(--font-family-base);
    color: var(--font-color-secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  @media screen and (min-width: 540px) {
    .about {
      flex-direction: row;
      margin: 96px auto;
      max-width: 520px;
    }
    .title,
    .description {
      text-align: left;
    }
    .socials {
      justify-content: start;
    }
  }
</style>