---
export interface Props {
  title: string;
  href: string
}

const { title, href } = Astro.props;
---

<div class="card">
  <a href={href}>
    <div class="preview">
      <slot name="header" />
    </div>
    <div class="info">
      <h3 class="title">{title}</h3>
      <p class="description">
          <slot />
      </p>
    </div>
  </a>
</div>

<style>
  .card a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #191919;
    border-radius: 12px;
    /* flex-wrap: wrap; */
    width: 350px;
    height: 300px;
  }

  .preview {
    width: 85px;
    height: 85px;
    flex-shrink: 1;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  .info {
    width: 250px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title {
    font-size: 24px;
    margin: 0;
  }

  .description {
    font-size: 12px;
  }
  
  .details {
    font-size: 10px;
  }

  .description {
    margin: 0;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) / 2);
  }

  @media screen and (min-width: 800px) {
      .card a {
        width: 375px;
      }
    }
</style>