---
import Project from "../components/Project.astro";
import LargeProject from "../components/LargeProject.astro";
---

<div class="section">
  <LargeProject
    title="Constructor"
    href="https://github.com/awheelr/constructor"
  >
    <img src="/constructor.png" alt="Estimator" slot="header" />
    Constructor is a private tool that automates roofing and siding estimates.
    <slot slot="details">built with Visual Basic</slot>
  </LargeProject>

  <LargeProject title="Soulbound" href="https://github.com/awheelr/soulbound">
    <img src="/soulbound.png" alt="Soulbound" slot="header" />
    Soulbound is a 2D pixel art platformer with precise and fast paced movement.
    <slot slot="details">built with Unity</slot>
  </LargeProject>
</div>

<style>
  .section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media screen and (min-width: 800px) {
    .section {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
